.task-container{
    display: flex;
    /* align-items: center; */
    justify-content: center;

    width: 70%;
    margin: 10px;
}
.content{
    width: 50%;
    display: flex;
    /* justify-content: center; */
}
.content span{
    width: 100px;
    font-size: 20px;
    border: 1px solid green;
    padding: 10px;
}

.taskName{
    flex:80% ;
    color: #fff;
}
.taskDeadLine{
    flex:20% ;
    color: #fff;
}
.task-container button{
    padding: 10px 20px;
}