*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  
}
.header{
  display: flex;
  flex: 30%;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(245, 137, 59);
}
.inputContainer{
  display: flex;
  flex-direction: column;
  width: 30%;
}
.inputContainer input{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
.header button{
  padding: 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.header button:hover{
  box-shadow: 1px 5px 5px 1px black;
}

.todoList{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 70%;
  width: 100%;
  /* border: 5px solid blue; */
  background-color: rgb(245, 137, 59);

}

